* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Rubik Mono One', sans-serif;
}


.contenitore {
    
       
        height: 800px; 
        margin: 0 auto;
        background-color:red;
        
}

 .contenitore2{
   
    height: 800px; 
    margin: 0 auto;
    background-color:green;
}

.contenitore3{
   
    height: 800px; 
    margin: 0 auto;
    background-color: yellow;
}