* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
    text-align: center;
    
}
 /*contenitori*/

.contenitore {
    
       position: relative;
        height: 800px; 
        margin: 0 auto;
        background-color:red;
}

 .contenitore2{
   position: relative;
    height: 800px; 
    margin: 0 auto;
    background-color:green;
}

.contenitore3{
   position: relative;
    height: 800px; 
    margin: 0 auto;
    background-color: yellow;
}

/*menu*/
.navigazione {
  position: fixed;
  right: 30px;
  z-index: 3;
}

.navigazione li{
    padding: 5px;
   display: inline;
   list-style: none;
   margin:15px
}

.navigazione ul li a{
    display: inline-block;
    width: 25px;
    height: 20px;
  
    line-height: 20px;
    text-decoration: none;
    background: rgb(5, 0, 0);
    color: ivory;
    border-radius: 50%;
}


.navigazione {
   margin: 15px 0;
   text-decoration: none;
}
.contenitore3:last-child{
    font-size: 2em;
    color:green
}